.map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px); /* calculate height of the screen minus the heading */
    bottom: 0;
  }
  
  .map {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  

div[aria-label="Accordion"] section {
    overflow-y: visible !important;
}

.accordianItem {
  font-size: 0.6rem !important;
}